// ------------Variables----------
@import '../scss/estilos/variables';
//--------Mixins--------------
@import '../scss/estilos/mixins';
// -------------fuentes---------
@import '../scss/estilos/fuentes.scss';
//-------------Componentes----------
@import '../scss/componentes/header';
@import '../scss/componentes/menu';
@import '../scss/componentes/footer';
@import '../scss/componentes/consejosViajeros';
@import '../scss/componentes/cuerpo';
@import '../scss/componentes/galeria';
@import '../scss/responsive/responsive';
@import '../scss/componentes/destinos';
@import '../scss/componentes/cursos';
