@media (max-width: 723px) {
	//Galeria de fotos
	#carouselExampleCaptions {
		display: none;
	}

	.fotos .col {
		width: 100%;
		margin-bottom: 2%;
	}
	div.texto-limitado.container-fluid {
		background-color: map-get($colores, color-boton);
	}
}
@media (min-width: 722px) {
	//Galeria de fotos
	.texto-limitado {
		display: none;
	}
}
// @media (max-width: 576px) {
// }
