// -------------Carrusel imagenes---------
@mixin fondo-mascara() {
	background-size: cover;
	background-position: center;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
}

// --------------Boton----------
@mixin button($background-color, $colorTitle) {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	background-color: map-get($colores, color-boton);
	color: $colorTitle;
	font-size: 16px;
	border-radius: 5px;

	&:hover {
		background-image: linear-gradient(
			to right,
			map-get($colores, colorCuerpo),
			map-get($colores, colortextoFooter)
		);
	}
}
