// _variables.scss

// ------------Colores -MAPS-----------
$colores: (
	colorTitle: #fafaf9,
	color-barra: #d7cbb4,
	color-textoBarra: rgb(18, 39, 71),
	color-boton: rgb(5, 65, 77),
	color-letra-btn: #dfe4e3,
	color-footer: #122747,
	colortextoFooter: #d7cbb4,
	colorCuerpo: rgb(133, 186, 189),
);
$back-color: rgba(215, 203, 180, 0.3);
// -----------Medidas-------
$padding-top: 1%;
$padding-bottom: 2%;
