#carouselExampleCaptions {
	width: 100vw;
}

.carousel-inner {
	.mask1 {
		background: url('../assets/img/SagradaFamilia.webp') no-repeat;
		@include fondo-mascara();
	}

	.mask2 {
		background: url('../assets/img/Viajemos.webp') no-repeat;
		@include fondo-mascara();
	}

	.mask3 {
		background: url('../assets/img/hotel2.webp') no-repeat;
		@include fondo-mascara();
	}

	p.text-consejos {
		transform: translateY(50vh);
		border-radius: 10px;
		margin: 0 1% 0 1%;
		color: map-get($colores, color-letra-btn);
		font-size: 2rem;
		text-align: center;
		background-color: rgba(153, 153, 153, 0.5);
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
}