#carouselExampleCaptions {
	width: 100vw;
}

.carousel-inner {
	.mask1 {
		background: url('../assets/img/SagradaFamilia.webp')
			no-repeat;
		@include fondo-mascara();
	}

	.mask2 {
		background: url('../assets/img/Viajemos.webp') no-repeat;
		@include fondo-mascara();
	}
	.mask3 {
		background: url('../assets/img/hotel2.webp') no-repeat;
		@include fondo-mascara();
	}
}

.text-consejos {
	padding-top: $padding-top;
	color: map-get($colores, color-letra-btn);
	font-size: 2rem;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: rgba(153, 153, 153, 0.5);
	padding: 10px;
	border-radius: 10px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
