main {
	padding: 1%;

	iframe {
		height: 66vh;
	}

	p.destinos {
		font-family: map-get(map-get($fuentes, sacramento-script),
				family);
		font-weight: nth($weights, 3);
		color: map-get($colores, color-barra);
		font-size: 1.5rem;
		padding: $padding-top;
		letter-spacing: 1px;
		line-height: 1.5;
	}

	h3.subtitle-destinos {
		padding-top: $padding-bottom;
		font-family: map-get(map-get($fuentes, merriweather-subttle),
				family);
		font-weight: nth($weights, 3);
		font-style: nth($font-style, 2);
		font-size: 2rem;
	}

	section.container-destinos {
		display: grid;
		grid-template-columns: repeat(auto-fit,
				minmax(15rem, 1fr));

		grid-auto-flow: dense;
		gap: 1rem;
	}

	div.destinos1 {
		@include sombras;

		&:hover {
			background-color: rgba(18, 39, 71, 0.8);
		}
	}
}