header {
	// margin-top: 1%;
	h1 {
		font-family: map-get(
			map-get($fuentes, rubik-title),
			family
		);
		text-align: center;
		margin-top: 1%;
		h1.titulopg {
			padding: $padding-top;
		}
		&:hover {
			color: map-get($colores, colortextoFooter);
		}
	}
	a.logo img {
		text-align: center;
		float: left;
		width: 8%;
		height: 100%;
	}
}
