header {
	h1 {
		font-family: map-get(
			map-get($fuentes, rubik-title),
			family
		);
		text-align: center;
		margin-top: 1%;
		h1.titulopg {
			padding: $padding-top;
		}
	}
	a.logo img {
		float: left;
		width: 10%;
		height: 100%;
	}
}
