nav {
	.nav-link {
		font-family: map-get(map-get($fuentes, poppins-cuerpo),
				family);

		font-size: 1.2rem;
		margin: 0.5rem;
		color: map-get($colores, color-textoBarra);

		&:hover {
			color: map-get($colores, colortextoFooter);
		}

		//Styles
	}
}

nav.navbar.menuMd {
	background-color: $back-color;
	width: 100%;
	font-style: nth($font-style, 1);
	font-weight: nth($weights, 4);
}